.whiteFont {
  color: $white;
}

.redFont {
  color: $red;
}

.textAlignLeft {
  text-align: start;
}

.topMargin {
  margin-top: 15px;
}

.bottomMargin {
  margin-bottom: 15px;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 5px;
}
