// COLORS
$black: #111111;
$grey: #48494b;
$faded-black: rgb(17, 17, 17, 0.9);
$faded-dark-black: rgb(0, 0, 0, 0.9);
$faded-grey: rgb(23, 23, 23, 0.4);
$faded-faded-white: rgb(255, 251, 247, 0.1);
$white: #fffbf7;
$red: #ff4122;
$yellow: #ffd741;

// FONTS
$code-font: 'Geist Mono', monospace;
$content-font: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

// CURSORS
$cursor: url('../assets/cursor.png') 16 16, auto;
$cursor-hover: url('../assets/cursorHover.png') 16 16, auto;