.textField {
  @include flex(column, auto, flex-start);
  width: 60%;
  margin: 3px 0px;
  font-family: $code-font;
}

.labelText {
  padding-left: 10px;
  transition: all 0.3s ease;
}

.inputFocused {
  padding-left: 2px;
  color: $red;
}

input, textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  margin: 5px 0px;
  background-color: $black;
  border: 1px solid $yellow;
  border-radius: 3px;
  color: $white;
  font-family: $content-font;
  font-size: 1em;
  cursor: $cursor-hover;
}

textarea {
  resize: vertical;
}

input:focus, input:hover, textarea:focus, textarea:hover {
  border-color: $red;
  outline: none;
}