/* CONTACT PAGE */

.contactForm {
  @include flex(column, center, center);
  width: max(20%, 400px);
  padding-bottom: 30px;
  background-color: $faded-grey;
}

.contactSubmit {
  margin-top: 10px;
  padding: 8px;
  background-color: $black;
  color: $white;
  border: 1px solid $yellow;
  border-radius: 3px;
  font-family: $code-font;
  font-size: 1em;
  cursor: $cursor-hover;
}

.contactSubmit:hover {
  border-color: $red;
}

.contactLinks {
  @include flex(row, auto, auto);
  gap: 18px;
  margin: 25px;
  margin-bottom: 12px;
}

.brandLink:hover {
  color: $red;
}

#emailLink {
  width: 100%;
  white-space: nowrap;
}

.emailLink:hover {
  color: $red;
  font-size: 1.05em;
}

@media (max-width: 750px) {
  .contactForm {
    width: 90%;
  }
}
