/* GENERAL TAG STYLES */
:root {
  --black: #111111;
  --white-font: #fffbf7;
  --red-font: #ff4122;
  --yellow-font: #ffd741;
  --font-family: 'Geist Mono', monospace;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

body {
  margin: 0px;
  background: linear-gradient(180deg, #111111 0%, #48494b 100%);
}

h1 {
  font-size: 100px;
  margin: 0px;
}

h2 {
  font-size: 28px;
  margin: 0px;
}

h3 {
  font-size: 24px;
  margin: 0px;
}

h6 {
  margin: 0px;
  font-size: 12px;
  color: var(--white-font);
}

p {
  margin: 0px;
}

a {
  padding-left: 10px;
  font-size: 18px;
  color: var(--white-font);
  text-decoration: none;
  text-wrap: none;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
}

header > * {
  padding: 25px;
}

.headerButtons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.headerButtons > div {
  background-color: transparent;
  color: #fffbf7;
  border: none;
  font-size: 1em;
  transition: 0.3s;
  padding: 0px;
}

.buttonText {
  padding-left: 10px;
  transition: all 0.3s ease;
}

.buttonClicked {
  padding-left: 2px;
  color: var(--red-font);
  transition: all 0.3s ease;
}

@media (max-width: 1350px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .headerButtons {
    position: relative;
    left: 0px;
    transform: none;
  }
}

.headerButtons > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.headerName {
  transition: all 0.5s ease;
  color: var(--yellow-font);
  letter-spacing: 0.05em;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 50px;
  text-align: center;
  color: var(--yellow-font);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.backgroundIcon {
  position: absolute;
  width: 75%;
  height: 75%;
  z-index: -1;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  34% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.05);
  }
  67% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* ABOUT SECTION */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
  color: var(--yellow-font);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.sectionHeader {
  margin: 50px;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: var(--yellow-font);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.sectionText {
  width: 50%;
  font-size: 16px;
  color: var(--white-font);
}

.pfp {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.moreAboutContent {
  display: flex;
  width: 60%;
  gap: 25px;
}

.hobbySection, .funFactsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moreSectionText {
  width: 75%;
  text-align: start;
  font-size: 16px;
  color: var(--white-font);
}

.workOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.workSectionText {
  width: 40%;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  color: var(--white-font);
}

.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
  color: var(--yellow-font);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.contactSectionText {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  color: var(--white-font);
}

.whiteFont {
  color: #fffbf7;
}

.redFont {
  color: var(--red-font);
}

.letterSpacing {
  letter-spacing: 0.05em;
}