/* GENERAL TAG STYLES */
:root {
  --black: #111111;
  --grey: #48494b;
  --white: #fffbf7;
  --red: #ff4122;
  --yellow: #ffd741;
  --code-font: 'Geist Mono', monospace;
  --content-font: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: var(--white);
  line-height: 1.5;
  font-family: var(--content-font);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

body {
  background: linear-gradient(180deg, var(--black) 0%, var(--grey) 100%);
}

h1 {
  font-size: 5.5em;
  color: var(--yellow);
}

h2 {
  color: var(--yellow)
}

h3 {
  font-size: 1.33em;
  font-weight: 500;
  color: var(--yellow);
}

h6 {
  font-size: 0.66em;
}

body, h1, h2, h3, h6, p {
  margin: 0px;
}

.topMargin {
  margin-top: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionHeader {
  margin: 50px;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 40px;
  font-weight: 500;
  color: var(--yellow);
}

.sectionText {
  width: 50%;
}

/* ACTION BUTTONS */

a {
  color: var(--white);
  text-decoration: none;
  text-wrap: none;
}

.actionButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  border: none;
  background-color: transparent;
  transition: 0.3s;
}

.buttonText {
  padding-left: 10px;
  transition: all 0.3s ease;
}

.buttonClicked {
  padding-left: 2px;
  color: var(--red);
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: var(--code-font);
  transition: all 0.5s ease;
}

.headerName {
  padding: 25px;
  letter-spacing: 0.05em;
}

.headerButtons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  white-space: nowrap;
}

.whiteFont {
  color: var(--white);
}

.redFont {
  color: var(--red);
}

/* HOME PAGE */

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 50px;
  letter-spacing: 0.05em;
}

.heartSVG {
  position: absolute;
  width: 30%;
  height: 30%;
  z-index: -1;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  34% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.05);
  }
  67% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* ABOUT PAGE */

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.headshotImage {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.moreAboutContent {
  display: flex;
  width: 60%;
  gap: 25px;
}

.hobbySection, .funFactsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moreSectionText {
  width: 75%;
  text-align: start;
}

/* EXPERIENCE PAGE */
.experienceContent {
  display: flex;
  width: 90%;
}

.educationSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.experienceOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  white-space: nowrap;
  transition: all 0.5s ease;
  font-family: var(--code-font);
}

.experienceSectionText {
  width: 40%;
  margin-top: 30px;
}

.carletonUniversityImg {
  width: 50%;
  height: auto;
  margin: 20px;
  border-radius: 1vh;
}

/* PROJECTS PAGE */

.projectsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

/* CONTACT PAGE */

.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.contactSectionText {
  width: 100%;
  margin-top: 30px;
  font-size: 16px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.letterSpacing {
  
}


@media (max-width: 1350px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .headerButtons {
    position: relative;
    left: 0px;
    transform: none;
  }
  .experienceContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}